
.title_index{
	padding: 20px;
}
.nav-item{
	font-size: larger;
    font-weight: 700;
}
.table_space{
	padding: 20px;

}
.table{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

tbody tr:hover{
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	font-size: 17px;
}
